/* Bangers and Risque fonts (Google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Risque&display=swap');
/* Risque class
.risque-regular {
  font-family: "Risque", serif;
  font-weight: 400;
  font-style: normal;
}*/
/* Bangers class
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/
/* CSS variables*/
:root {
  --primary-font: "Bangers", system-ui;
  --secondary-font: "Risque", serif;
  --page-margin-color: #440643;
  --button-color: #730a71;
  --primary-filler-color: #fde8fd;
  --secondary-filler-color: #fef8fe;
  --button-text-color: #f8fef8;
  --primary-text-color: #064407;

}


/* global styles*/
/*main {
    
    border: 20px solid var(--page-margin-color);
    
    background-color: var(--primary-filler-color);
    color: var(--primary-text-color);
    padding: 10px;
}*/
body {
  background-color: var(--page-margin-color);
}
header {
  background: url(../images/poster.webp) no-repeat center center/cover;
  height: 200px;

}


.outer-container {
  background-color: var(--page-margin-color);
  padding: 10px;
  color: var(--button-text-color);
}
.inner-container {
  margin: 20px;
  border: 2px solid var(--page-margin-color);
  border-radius:10px;
  background-color: var(--primary-filler-color);
  padding: 5px;
  color: var(--primary-text-color);
  
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}
p, a {
    font-family: var(--secondary-font);
}
a {
  color: var(--primary-text-color);
}

/*Navbar styling*/
nav{
  padding: 0% !important;
}
.margin {
  background-color: var(--page-margin-color);
  color: var(--button-text-color);
  padding-left: 20px;
  padding-right: 20px;
 
}

li a {
  color:var(--button-text-color)!important;
}
.nav-link.active {
    text-decoration: underline;
}
/*Season buttons styling*/
.season-buttons li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}
.season-buttons li a {
  color: var(--primary-text-color)!important;
}
/*News*/

/*Carousel styling*/
.carousel {
    border-radius: 10px 10px 10px 10px;
        overflow: hidden;   
}
/* Horizontal scroll for small screens Gallery cards*/
.card-body {
    min-width: 150px;
    background-color: var(--primary-filler-color);
    color: var(--primary-text-color);
    row-gap: 0px;
    border: none; 
   /*margin-right: 5px;*/
}
.card-text {
  margin-bottom: 0px;
}
.card-link {
  color: var(--primary-text-color);
}
.card-image-top {
  height: 65px;
}
/*Form styling"*/
.inner-container {
  padding: 70px;
}
input {
  width: 70%;
}
textarea {
  width: 100%;
}
/*Success styling*/

.success-image {
  border-radius: 50px;
  overflow: hidden;
}


/*Footer styling*/


/*Media queries*/
/*
@media screen and (max-width: 576px) {

  .gallery {
    display: none !important;
  }
}*/
