/* Bangers and Risque fonts (Google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Risque&display=swap');
/* Risque class
.risque-regular {
  font-family: "Risque", serif;
  font-weight: 400;
  font-style: normal;
}*/
/* Bangers class
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/
/* CSS variables*/
:root {
  --primary-font: "Bangers", system-ui;
  --secondary-font: "Risque", serif;
  --page-margin-color: #440643;
  --button-color: #730a71;
  --primary-filler-color: #fde8fd;
  --secondary-filler-color: #fef8fe;
  --button-text-color: #f8fef8;
  --primary-text-color: #064407;

}


/* global styles*/
/*main {
    
    border: 20px solid var(--page-margin-color);
    
    background-color: var(--primary-filler-color);
    color: var(--primary-text-color);
    padding: 10px;
}*/
body {
  background-color: var(--page-margin-color);
}
header {
  background: url(../images/poster.webp) no-repeat center center/cover;
  height: 200px;

}


.outer-container {
  background-color: var(--page-margin-color);
  padding: 10px;
  color: var(--button-text-color);
}
.inner-container {
  margin: 20px;
  border: 2px solid var(--page-margin-color);
  border-radius:10px;
  background-color: var(--primary-filler-color);
  padding: 5px;
  color: var(--primary-text-color);
  
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}
h1 {
  margin-bottom: 40px;
  }
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

p, a {
    font-family: var(--secondary-font);
}
a {
  color: var(--primary-text-color);
}
i {
  color: var(--button-text-color);
  font-size: 1.5rem;
}
.btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
  margin-top: 30px;
}

/*Navbar styling*/
nav{
  padding: 0% !important;
}
.margin {
  background-color: var(--page-margin-color);
  color: var(--button-text-color);
  padding-left: 20px;
  padding-right: 20px;
 
}
nav button {
  color: var(--button-text-color);
}

li a {
  color:var(--button-text-color)!important;
}
.nav-link.active {
    text-decoration: underline;
}

/*News*/
#parasee-carousel {
  border-radius: 10px 10px 0px 0px;
}
.card {
  border: none;
}

/*Season buttons styling*/
.season-buttons li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}
.season-buttons li a {
  color: var(--primary-text-color)!important;
}




/*Carousel styling*/
/*Credit: code for getting round edgeds on the carousel: (https://stackoverflow.com/questions/60680676/how-can-i-use-rounded-images-in-carousel-bootstrap)*/
.carousel {
    border-radius: 10px 10px 10px 10px;
        overflow: hidden;   
}


/* Horizontal scroll for small screens Gallery cards*/
.card-body {
    min-width: 150px;
    background-color: var(--primary-filler-color);
    color: var(--primary-text-color);
    row-gap: 0px;
    border: none; 
}
.card-text {
  margin-bottom: 0px;
}
.card-link {
  color: var(--primary-text-color);
}
.card-image-top {
  height: 65px;
}
.gallery_small, .first-card{
  padding-left: 0px !important;
}
/*Form styling"*/

input {
  width: 70%;
}
textarea {
  width: 100%;
}
/*Success styling*/

.success-image {
  border-radius: 50px;
  overflow: hidden;
  
}
.success h2, .success p, .success .btn {
  margin-bottom: 40px;
}


/*Footer styling*/
#follow-piggy div {
  display: inline-block;
}
li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}


/*Media queries*/
@media screen and (min-width: 992px) {
  /*Descriptionsstyling*/
  .description {
    font-size: 1.25rem;
  }  
}
@media screen and (min-width: 1200px) {
  /*Descriptions styling*/
  .description {
    font-size: 1.5rem;
  }  
}
@media screen and (min-width: 1400px) {
  /*Descriptions styling*/
  #series-description, .description {
    font-size: 1.7rem;
  }  
}
